<%= form_for(@pocket) do |f| %>

    <%= f.label :Balance %> </br> 

    <%= f.text_field :balance %> </br> 

    <%= f.label :Student_id %> </br> 

    <%= f.text_field :student_id %> </br> 

     <%= f.label :Teacher_id %> </br> 

    <%= f.text_field :teacher_id %> </br>

    <%= f.submit "Save" %> 

    <%= link_to 'Back', pockets_path %> 

    

<% end %>

