<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
<% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>
<div class="container">

<table class="table table-striped">

    <thead class="thead-dark">

    <tr>

        <th>Balance</th>

        <th>Student_id</th>

        <th>Teacher_id</th>

        <th>Action</th>

    </tr>

  </thead>r

    <tbody>

    <% @pockets.each do |pocket| %> 

    <tr>

        <td><%= pocket.balance %></td>

        <td><%= pocket.student_id %></td>

        <td><%= pocket.teacher_id%></td>


        <td>
        <%= link_to 'Detail', pocket_path(pocket) ,class:"btn btn-outline-primary"%> 
         <%= link_to 'Edit', edit_pocket_path(pocket),class:"btn btn-outline-warning" %> 
         <%= link_to 'Delete', pocket_path(pocket) , method: :delete, data: {confirm: 'Apakah anda yakin?'},class:"btn btn-outline-danger" %>
         </td>

        

    </tr>

    <% end %>

    </tbody>

</table> 
<%= link_to 'New Pocket', new_pocket_path(),class:"btn btn-primary" %>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

