
<%= form_for(@pocket) do |s| %>

    <%= s.label :Balance %> </br> 

    <%= s.text_field :balance %> </br> 

    <%= s.label :Student_id %> </br> 

    <%= s.text_field :student_id %> </br>

    <%= s.label :Teacher_id %> </br> 

    <%= s.text_field :teacher_id %> </br>

    <%= s.submit "Save" %> 

<% end %>
<%= link_to 'Back', pockets_path %> 
