<%= form_for(@student) do |s| %>

    <%= s.label :name %> </br> 

    <%= s.text_field :name %> </br> 

    <%= s.label :username %> </br> 

    <%= s.text_field :username %> </br> 

    <%= s.label :age %> </br> 

    <%= s.text_field :age %> </br>

    <%= s.label :kelas %> </br> 

    <%= s.text_field :kelas %> </br>

    <%= s.label :address %> </br> 

    <%= s.text_field :address %> </br>

    <%= s.label :city %> </br> 

    <%= s.text_field :city %> </br>

    <%= s.label :NIK %> </br> 

    <%= s.text_field :NIK %> </br>

    <%= s.submit "Save" %> 

<% end %>
<%= link_to 'Back', students_path %> 
