<%= form_for(@teacher) do |f| %>

    <%= f.label :NIK %> </br> 

    <%= f.text_field :NIK %> </br> 

    <%= f.label :nama %> </br> 

    <%= f.text_field :nama %> </br> 

    <%= f.label :age %> </br> 

    <%= f.text_field :age %> </br>

    <%= f.label :kelas %> </br> 

    <%= f.text_field :kelas %> </br>

    <%= f.label :mapel %> </br> 

    <%= f.text_field :mapel %> </br>

    <%= f.submit "Save" %> 

    <%= link_to 'Back', teachers_path %> 

    

<% end %>

