

<div class="container">
<table class="table table-striped">

    <thead class="thead-dark">

    <tr>

        <th>NIK</th>

        <th>Nama</th>

        <th>Age</th>

        <th>Kelas</th>

        <th>Mapel</th>

        <th>Action</th>

    </tr>

    </thead>

    <tbody>

    <% @teachers.each do |teacher| %>

    <tr>

        <td><%= teacher.NIK %></td>

        <td><%= teacher.nama %></td>

        <td><%= teacher.age %></td>

        <td><%= teacher.kelas %></td>

        <td><%= teacher.mapel %></td>

        <td><%= link_to 'Detail', teacher_path(teacher) %> 
         <%= link_to 'Edit', edit_teacher_path(teacher) %>  
         <%= link_to 'Delete', teacher_path(teacher) , method: :delete, data: {confirm: 'Apakah anda yakin?'} %>
         </td>

        

    </tr>

    <% end %>

    </tbody>

</table>  
<%= link_to 'New Teacher', new_teacher_path(),class:"btn btn-primary" %>
</div>

     