<%= form_for(@teacher) do |s| %>

    <%= s.label :NIK %> </br> 

    <%= s.text_field :NIK %> </br> 

    <%= s.label :nama %> </br> 

    <%= s.text_field :nama %> </br> 

    <%= s.label :age %> </br> 

    <%= s.text_field :age %> </br>

    <%= s.label :kelas %> </br> 

    <%= s.text_field :kelas %> </br>

    <%= s.label :mapel %> </br> 

    <%= s.text_field :mapel %> </br>

    <%= s.submit "Save" %> 

<% end %>
<%= link_to 'Back', teachers_path %> 
