<% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>

NIK : <%= @teacher.NIK %> </br>

Nama : <%= @teacher.nama %> </br>

Age : <%= @teacher.age %> </br>

Kelas : <%= @teacher.kelas %> </br>

Mapel : <%= @teacher.mapel %> </br>

 <%= link_to 'Back', teachers_path %> 
 