<%= form_for(@exam) do |f| %>

    <%= f.label :Title %> </br> 

    <%= f.text_field :title %> </br> 

    <%= f.label :Mapel %> </br> 

    <%= f.text_field :mapel %> </br> 

    <%= f.label :Duration%> </br> 

    <%= f.text_field :duration %> </br>

    <%= f.label :Nilai %> </br> 

    <%= f.text_field :nilai %> </br>

    <%= f.label :Aktifnonaktif %> </br> 

    <%= f.text_field :aktifnonaktif %> </br>

    <%= f.label :Level %> </br> 

    <%= f.text_field :level %> </br>

     <%= f.label :Student_id %> </br> 

    <%= f.text_field :student_id %> </br>

    <%= f.submit "Save" %> 

    <%= link_to 'Back', students_path %> 

    

<% end %>

