
<%= form_for(@exam) do |s| %>

    <%= s.label :Title %> </br> 

    <%= s.text_field :title %> </br> 

    <%= s.label :Mapel %> </br> 

    <%= s.text_field :mapel %> </br> 

    <%= s.label :Duration %> </br> 

    <%= s.text_field :duration %> </br>

    <%= s.label :Nilai %> </br> 

    <%= s.text_field :nilai %> </br>

    <%= s.label :Aktifnonaktif %> </br> 

    <%= s.text_field :aktifnonaktif %> </br>

    <%= s.label :Level %> </br> 

    <%= s.text_field :level %> </br>

    <%= s.label :Student_id %> </br> 

    <%= s.text_field :student_id %> </br>

    <%= s.submit "Save" %> 

<% end %>
<%= link_to 'Back', exams_path %> 
