<%= form_for(@report) do |f| %>

    <%= f.label :Title %> </br> 

    <%= f.text_field :title %> </br> 

    <%= f.label :Mapel %> </br> 

    <%= f.text_field :mapel %> </br> 

    <%= f.label :Teacher_id%> </br> 

    <%= f.text_field :teacher_id%> </br>

     <%= f.label :Student_id %> </br> 

    <%= f.text_field :student_id %> </br>

    <%= f.label :Date %> </br> 

    <%= f.text_field :date %> </br>

    <%= f.submit "Save" %> 

    <%= link_to 'Back', reports_path %> 

    

<% end %>

