
<%= form_for(@report) do |s| %>

    <%= s.label :Title %> </br> 

    <%= s.text_field :title %> </br> 

    <%= s.label :Mapel %> </br> 

    <%= s.text_field :mapel %> </br> 

    <%= s.label :Teacher_id %> </br> 

    <%= s.text_field :teacher_id %> </br>

    <%= s.label :Student_id %> </br> 

    <%= s.text_field :student_id %> </br>

    <%= s.label :Date %> </br> 

    <%= s.text_field :date %> </br>

    <%= s.submit "Save" %> 

<% end %>
<%= link_to 'Back', reports_path %> 
